doctype html
html(lang="en")
  head
    title T&M
    meta(charset='UTF-8')

    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')
    link(rel="manifest", href="android-manifest.json")

    block stylesheets
      link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700|Dancing+Script', rel='stylesheet', type='text/css')
      link(href='styles/main.css', rel='stylesheet')

  body
    block content

    block scripts
      script(src='scripts/main.js')
